---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* masthead color scheme */
.masthead, .masthead__inner-wrap, .greedy-nav { background-color: #565f76;}

/* centering footer elements */
.page__footer-follow {max-width: 350px; margin: auto;}
.page__footer-copyright {text-align: center;}

/* blog taxonomy styles */
.taxonomy__index, .taxonomy__section { background-color:  #404859; margin: 0; padding: 10px 10px 0 10px; border: 3px solid #2b303b;}
.taxonomy__index li a {border: none;}
.archive__subtitle {margin-top: 0; }
.back-to-top {margin-bottom: 5px;}